:root {
    --main: #001e28;
    --fff: #fff;
    --333: #333;
    --color-light:#555e61;
    --color-dark: #453838;
}

@media only screen and (max-width:375px){}
@media only screen and(max-width:767px){}
@media only screen and (min-width: 768px) {}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {}
@media(max-width:1023px){}
@media(min-width:1024px){}

@media only screen and (min-width: 850px){
    .header_top{
        max-width: 75%;
        margin: 0 auto;
    }
    .sidebar_news{
        flex-basis: 30% !important;
        max-width: 30% !important;
    }
    .col_content_news{
        flex-basis: 70% !important;
        max-width: 70% !important;
    }
    .block_news.blog_main .content_blog_news a:first-child{
        flex-direction: row;
    }
    .block_news.blog_main .content_blog_news a:first-child h4{
        font-size: 28px;
        line-height: 34px;
    }
    .block_news.blog_main .content_blog_news a{
        flex-direction: column;
    }
    .block_news.blog_main .content_blog_news a{
        width: calc((100%/3) - 20px);
    }
    .block_news{
        padding: 28px;
    }
    /* ------BLOG-NEWS ----LIST------ */
    .block_news.blog_news_list .thumb{
        max-width: 236px !important;
        min-width: 236px !important;
    }
    #wide-nav .header-bottom-nav >li >a{
        height: 61px;
    }
}
@media only screen and (max-width:849px){
    .title_blog, .title_block_news{
        margin-bottom: 5px;
    }
    .block_news.blog_main .content_blog_news a:first-child{
        flex-direction: column;
    }
    .block_news.blog_main .content_blog_news a:first-child .thumb{
        max-width: 100% !important; 
        min-width: 100% !important;
    }
    .block_news.blog_main .content_blog_news a .thumb, .block_news.blog_news_list .thumb{
        max-width: 120px; 
        min-width: 120px;
    }
    .block_news.blog_main .content_blog_news a:first-child h4{
        font-size: 22px;
        line-height: 28px;
    }
    .block_news.blog_main .content_blog_news a{
        flex-direction: row;
    }
    .block_news.blog_main .content_blog_news a{
        width: 100%;
    }
    .block_news.blog_main .content_blog_news a .btext {
        padding: 0px 0 0 12px;
        line-height: 20px;
    }
    .block_news.blog_main .content_blog_news a:first-child .btext{
        padding: 12px 0 0 0px;
        font-size: 22px;
    }
    .page_news .row >.col{
        padding: 0 !important;
    }
    .block_news{
        padding: 20px 10px;
    }
    .block_news.blog_main .content_blog_news a, .block_news.blog_news_list a, .list_sb_blog .post_item{
        margin: 0;
        padding: 10px 0;
    }
    .block_news.blog_main .content_blog_news a:not(:last-child), .block_news.blog_news_list a:not(:last-child){
        border-bottom: 1px solid #eee  !important;
    }
    .list_sb_blog .post_item:not(:last-child){
        border-bottom: 1px solid #d1d1d1  !important;
    }
    .block_sidebar{
        padding: 0 10px;
    }
    .block_news.blog_news_list a .btext {
        font-size: 14px;
        padding: 0 0 0 16px;
        line-height: 20px;
    }
    .sec_footer_item .row >.col{
        padding-bottom: 5px !important;
    }
    /* --------SINGLE--------- */
    .single_content, .content_blog_news a .btext h4{
        font-size: 16px;
    }
    /* -------HEADER-MOBILE------ */
    .setting_menu .icon_btn i{
        font-size: 16px !important;
    }
    .html_topbar_left{
        padding: 4px 0 !important;
        font-size: 11px !important;
    }
    #wide-nav{
        background: #001e28;
    }
    #wide-nav .header-bottom-nav >li:first-child{
        width: calc((100%/2) - 26px );
    }
    #wide-nav .header-bottom-nav >li:nth-child(2){
        width: calc((100%/2) - 26px );
    }
    #wide-nav .header-bottom-nav >li >a{
        width: 100%;
        height: 60px;
        color: #fff;
        justify-content: center;
    }
    #wide-nav .header-bottom-nav >li:not(:first-child, :nth-child(2)) >a{
        font-size: 10px !important;
    }
    .formLH .container{
        min-height: 60%;
    }
    .list_search_relate h4{
        font-size: 12px !important;
    }
    .header-bottom-nav.mobile-nav ul.sub-menu{
        left: -185px !important;
    }
    #wide-nav .header-bottom-nav >li:first-child a{
        height: 61px !important;
    }
    #wide-nav .header-bottom-nav >li:nth-child(2) a{
        height: 61px !important;
    }
    .sub-menu li a{
        color: var(--main) !important;
        font-size: 13px !important;
    }
    .header-bottom-nav >li.current-menu-item > a{
        background: #041b23 !important;
    }
}